<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxy.caller.persistent.mapper.TaskDetailInfoMapper">
    <resultMap id="BaseResultMap" type="com.maxy.caller.model.TaskDetailInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="group_key" jdbcType="VARCHAR" property="groupKey"/>
        <result column="biz_key" jdbcType="VARCHAR" property="bizKey"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="execution_param" jdbcType="VARCHAR" property="executionParam"/>
        <result column="execution_time" jdbcType="TIMESTAMP" property="executionTime"/>
        <result column="execution_status" jdbcType="TINYINT" property="executionStatus"/>
        <result column="timeout" jdbcType="INTEGER" property="timeout"/>
        <result column="retry_num" jdbcType="TINYINT" property="retryNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">

            id, group_key, biz_key, topic, execution_param, execution_time, execution_status,
            timeout, retry_num, create_time, update_time

    </sql>
    <select id="selectByExample" parameterType="com.maxy.caller.persistent.example.TaskDetailInfoExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from task_detail_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task_detail_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

            delete from task_detail_info
            where id = #{id,jdbcType=BIGINT}

    </delete>
    <delete id="deleteByExample" parameterType="com.maxy.caller.persistent.example.TaskDetailInfoExample">
        delete from task_detail_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.maxy.caller.model.TaskDetailInfo"
            useGeneratedKeys="true">

            insert into task_detail_info (group_key, biz_key, topic,
              execution_param, execution_time, execution_status,
              timeout, retry_num, create_time,
              update_time)
            values (#{groupKey,jdbcType=VARCHAR}, #{bizKey,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR},
              #{executionParam,jdbcType=VARCHAR}, #{executionTime,jdbcType=TIMESTAMP}, #{executionStatus,jdbcType=TINYINT},
              #{timeout,jdbcType=INTEGER}, #{retryNum,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
              #{updateTime,jdbcType=TIMESTAMP})

    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.maxy.caller.model.TaskDetailInfo"
            useGeneratedKeys="true">
        insert into task_detail_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupKey != null">
                group_key,
            </if>
            <if test="bizKey != null">
                biz_key,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="executionParam != null">
                execution_param,
            </if>
            <if test="executionTime != null">
                execution_time,
            </if>
            <if test="executionStatus != null">
                execution_status,
            </if>
            <if test="timeout != null">
                timeout,
            </if>
            <if test="retryNum != null">
                retry_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupKey != null">
                #{groupKey,jdbcType=VARCHAR},
            </if>
            <if test="bizKey != null">
                #{bizKey,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="executionParam != null">
                #{executionParam,jdbcType=VARCHAR},
            </if>
            <if test="executionTime != null">
                #{executionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="executionStatus != null">
                #{executionStatus,jdbcType=TINYINT},
            </if>
            <if test="timeout != null">
                #{timeout,jdbcType=INTEGER},
            </if>
            <if test="retryNum != null">
                #{retryNum,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.maxy.caller.persistent.example.TaskDetailInfoExample" resultType="java.lang.Long">
        select count(*) from task_detail_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update task_detail_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.groupKey != null">
                group_key = #{record.groupKey,jdbcType=VARCHAR},
            </if>
            <if test="record.bizKey != null">
                biz_key = #{record.bizKey,jdbcType=VARCHAR},
            </if>
            <if test="record.topic != null">
                topic = #{record.topic,jdbcType=VARCHAR},
            </if>
            <if test="record.executionParam != null">
                execution_param = #{record.executionParam,jdbcType=VARCHAR},
            </if>
            <if test="record.executionTime != null">
                execution_time = #{record.executionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.executionStatus != null">
                execution_status = #{record.executionStatus,jdbcType=TINYINT},
            </if>
            <if test="record.timeout != null">
                timeout = #{record.timeout,jdbcType=INTEGER},
            </if>
            <if test="record.retryNum != null">
                retry_num = #{record.retryNum,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update task_detail_info
        set id = #{record.id,jdbcType=BIGINT},
        group_key = #{record.groupKey,jdbcType=VARCHAR},
        biz_key = #{record.bizKey,jdbcType=VARCHAR},
        topic = #{record.topic,jdbcType=VARCHAR},
        execution_param = #{record.executionParam,jdbcType=VARCHAR},
        execution_time = #{record.executionTime,jdbcType=TIMESTAMP},
        execution_status = #{record.executionStatus,jdbcType=TINYINT},
        timeout = #{record.timeout,jdbcType=INTEGER},
        retry_num = #{record.retryNum,jdbcType=TINYINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.maxy.caller.model.TaskDetailInfo">
        update task_detail_info
        <set>
            <if test="groupKey != null">
                group_key = #{groupKey,jdbcType=VARCHAR},
            </if>
            <if test="bizKey != null">
                biz_key = #{bizKey,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="executionParam != null">
                execution_param = #{executionParam,jdbcType=VARCHAR},
            </if>
            <if test="executionTime != null">
                execution_time = #{executionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="executionStatus != null">
                execution_status = #{executionStatus,jdbcType=TINYINT},
            </if>
            <if test="timeout != null">
                timeout = #{timeout,jdbcType=INTEGER},
            </if>
            <if test="retryNum != null">
                retry_num = #{retryNum,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.maxy.caller.model.TaskDetailInfo">

            update task_detail_info
            set group_key = #{groupKey,jdbcType=VARCHAR},
              biz_key = #{bizKey,jdbcType=VARCHAR},
              topic = #{topic,jdbcType=VARCHAR},
              execution_param = #{executionParam,jdbcType=VARCHAR},
              execution_time = #{executionTime,jdbcType=TIMESTAMP},
              execution_status = #{executionStatus,jdbcType=TINYINT},
              timeout = #{timeout,jdbcType=INTEGER},
              retry_num = #{retryNum,jdbcType=TINYINT},
              create_time = #{createTime,jdbcType=TIMESTAMP},
              update_time = #{updateTime,jdbcType=TIMESTAMP}
            where id = #{id,jdbcType=BIGINT}

    </update>
</mapper>