<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxy.caller.persistent.mapper.TaskLogExtendMapper">
    <resultMap id="BaseResultMap" type="com.maxy.caller.model.TaskLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="group_key" jdbcType="VARCHAR" property="groupKey"/>
        <result column="biz_key" jdbcType="VARCHAR" property="bizKey"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="execute_param" jdbcType="VARCHAR" property="executeParam"/>
        <result column="executor_time" jdbcType="TIMESTAMP" property="executorTime"/>
        <result column="executor_address" jdbcType="VARCHAR" property="executorAddress"/>
        <result column="retry_count" jdbcType="TINYINT" property="retryCount"/>
        <result column="executor_status" jdbcType="TINYINT" property="executorStatus"/>
        <result column="executor_result_msg" jdbcType="VARCHAR" property="executorResultMsg"/>
        <result column="alarm_status" jdbcType="TINYINT" property="alarmStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, group_key, biz_key, topic, execute_param, executor_time, executor_address, retry_count,
    executor_status, executor_result_msg, alarm_status, create_time
    </sql>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into task_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            group_key,
            biz_key, topic,
            execute_param,
            executor_time,
            executor_address,
            retry_count,
            executor_status,
            executor_result_msg,
            alarm_status,
            create_time
        </trim>
        values
        <foreach collection="taskLogList" item="taskLog" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{taskLog.groupKey,jdbcType=VARCHAR},
                #{taskLog.bizKey,jdbcType=VARCHAR},
                #{taskLog.topic,jdbcType=VARCHAR},
                #{taskLog.executeParam,jdbcType=VARCHAR},
                #{taskLog.executorTime,jdbcType=TIMESTAMP},
                #{taskLog.executorAddress,jdbcType=VARCHAR},
                #{taskLog.retryCount,jdbcType=TINYINT},
                #{taskLog.executorStatus,jdbcType=TINYINT},
                #{taskLog.executorResultMsg,jdbcType=VARCHAR},
                #{taskLog.alarmStatus,jdbcType=TINYINT},
                now()
            </trim>
        </foreach>
    </insert>
</mapper>